.instAcademicContainer {
  display: flex;
}

.instAcademicAuthorImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
}

.intAcademicAuthor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intAcademicAuthorDiv {
  color: #202020;
  text-align: left;
  font: normal normal bold 30px/35px Raleway;
  letter-spacing: 0px;
}

.intAcademicAuthorBody {
  text-align: left;
  font: normal normal 400 20px/35px Raleway;
  letter-spacing: 0px;
  color: #616057;
  opacity: 1;
}

.intAcademicAuthorTitle {
  text-align: left;
  font: normal normal 600 24px/29px Raleway;
  letter-spacing: 0px;
  color: #202020;
  opacity: 0.61;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instAcademicProfileSubSontainer {
  margin-bottom: 100px;
}

@media (max-width: 575px) {
  .intAcademicAuthor > div {
    font: normal normal bold 20px/25px Raleway;
  }

  .instAcademicProfileSubSontainer {
    margin-bottom: 50px;
  }
}
