.mainHeader {
  max-width: 1920px;
  margin: 0 0 3% 0;
}

.headerBackground {
  max-width: 1928px;
  height: 678px;
  background-origin: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 1;
  background-size: auto;
  background-position: 116% 100%;
}

.headerContainer {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 55% 45%;
  height: inherit;
}

.motoContainer {
  grid-area: a;
  align-self: center;
  justify-self: right;
  max-width: 874px;
  padding-right: 20px;
  padding-left: 55px;
}

.headerImageContainer {
  grid-area: b;
  max-width: 644px;
  align-self: end;
  padding-right: 5%;
}

.headerImage {
  width: 100%;
  height: auto;
  position: relative;
}

.bannerTextOne {
  font: normal normal bold 60px/70px Raleway;
  color: #ffffff;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 12px;
}

.bannerTextTwo {
  font: normal normal bold 40px/60px Raleway;
  letter-spacing: 0px;
  color: #616057;
  text-align: left;
}

.bannerTextThree {
  font: 'Raleway';
  font-size: 28px;
  color: #545454;
  letter-spacing: 0;
  text-align: left;
  margin-top: 40px;
  line-height: 35px;
}

@media (max-width: 1800px) {
  .headerBackground {
    background-position: 100% 100%;
  }

  .headerImageContainer {
    max-width: 600px;
  }
}

@media (max-width: 1600px) {
  .headerBackground {
    background-position: 90% 100%;
  }

  .headerImageContainer {
    max-width: 580px;
  }
}

@media (max-width: 1400px) {
  .headerBackground {
    background-position: 93% 100%;
  }

  .headerImageContainer {
    max-width: 540px;
  }
}

@media (max-width: 1280px) {
  .headerBackground {
    height: 550px;
    background-position: 88% 100%;
  }
  .headerImageContainer {
    max-width: 500px;
  }
  .bannerTextOne {
    font: normal normal bold 55px/60px Raleway;
  }
  .bannerTextTwo {
    font: normal normal bold 35px/50px Raleway;
  }
}

@media (max-width: 1024px) {
  .headerBackground {
    height: 500px;
    background-position: 85% 100%;
  }
  .motoContainer {
    padding-left: 30px;
    padding-right: 10px;
  }
  .headerImageContainer {
    max-width: 450px;
  }
  .bannerTextOne {
    font: normal normal bold 50px/55px Raleway;
  }
  .bannerTextTwo {
    font: normal normal bold 30px/45px Raleway;
  }
}

@media (max-width: 800px) {
  .headerBackground {
    height: 420px;
    background-position: 75% 100%;
  }
  .headerImageContainer {
    max-width: 400px;
  }
  .bannerTextOne {
    font: normal normal bold 45px/40px Raleway;
  }
  .bannerTextTwo {
    font: normal normal bold 25px/35px Raleway;
  }
}

@media (max-width: 800px) {
  .headerBackground {
    height: 390px;
  }
  .headerImageContainer {
    max-width: 380px;
  }
}

@media (max-width: 770px) {
  .headerBackground {
    height: 350px;
  }
  .headerImageContainer {
    max-width: 300px;
  }
  .bannerTextOne {
    font: normal normal bold 40px/35px Raleway;
  }
  .bannerTextTwo {
    font: normal normal bold 20px/30px Raleway;
  }
}

@media (max-width: 575px) {
  .headerBackground {
    min-height: 330px;
    background-size: 150%;
    background-position: 75% 130%;
  }
  .headerContainer {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
      'b'
      'a';
  }
  .bannerTextOne {
    color: #000000;
    font: normal normal bold 24px/29px Raleway;
    opacity: 0.44;
    margin: 0;
  }
  .bannerTextTwo {
    display: none;
  }

  .headerImageContainer {
    max-width: 250px;
    align-self: end;
    justify-self: center;
    padding: 0px;
    margin: 5% 0 3% 0;
  }

  .motoContainer {
    align-self: center;
    justify-self: center;
    padding: 0px;
  }
}

@media (max-width: 420px) {
  .headerBackground {
    background-position: 75% 150%;
  }
}

@media (max-width: 360px) {
  .headerBackground {
    background-position: 75% 170%;
  }
}

@media (max-width: 360px) {
  .headerBackground {
    background-position: 75% 180%;
  }
}
