.mainImg {
  /* content: url(/monk-hike-deep-forest-reflection-with-lake-buddha-religion-concept.png) 0% 0% no-repeat padding-box; */
  opacity: 1;
  /* padding-right: 20%; */
}
.mainBody {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-45) / var(--unnamed-line-spacing-60)
    var(--unnamed-font-family-playfair-display);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-616057);
  text-align: left;
  font: normal normal bold 45px/60px Playfair Display;
  letter-spacing: 0px;
  color: #616057;
  opacity: 1;
}

.mainTitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    60px/70px var(--unnamed-font-family-raleway);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 60px/70px Raleway;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 100px;
}

.customCarouselWrapper {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  background: transparent url(/MaskGroup-3.svg) 0% 0% no-repeat padding-box;
  opacity: 1.37;
  background-size: cover;
  background-position: bottom right;
}

.carouwrap {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 30px;
  justify-content: center;
}

.motoContainer {
  display: flex;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
  padding-top: 30px;
}

@media (max-width: 575px) {
  .motoContainer {
    flex-direction: column;
    align-items: center;
  }
}

.bannerTextOne {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: "Raleway";
  margin-bottom: 30px;
  text-align: left;
  font-weight: 600;
}

.bannerTextTwo {
  font-size: 40px;
  color: #616057;
  letter-spacing: 0;
  margin-bottom: 39px;
  text-align: left;
  line-height: 50px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .bannerTextOne {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: #616057;
  }

  .bannerTextTwo {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
}
