:root {
  /* Colors: */
  --global-color-d3eaef: #d3eaef;
  --global-color-71c1ff: #71c1ff;
  --global-color-173757: #173757;
  --global-color-966304: #966304;
  --global-color-616057: #616057;
  --global-color-044884: #044884;
  --global-color-5d5d5d: #5d5d5d;
  --global-color-202020: #202020;
  --global-color-4e4e4e: #4e4e4e;

  /* Font/text values */
  --global-font-family: 'raleway';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

h3,
p {
  color: black;
}

.navbarCarouselWrapper {
  position: relative;
  background: #e6c49d 0% 0% no-repeat padding-box;
}

.navbarCarouselWrapper.about,
.navbarCarouselWrapper.contact,
.navbarCarouselWrapper.institute {
  background-color: transparent;
}

.caroucap {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.banner-img-max-width-about {
  max-width: 644px;
}

.banner-img-max-width {
  max-width: 698px;
}

.banner-social-icon-max-width {
  max-width: 21px;
}

.banner-social-icon-max-height {
  max-height: 24px;
}

.banner-social-icon-max-width-31 {
  max-width: 31px;
}

.banner-social-icon-max-width-53 {
  max-width: 53px;
}

.width-50-per {
  display: flex;
  width: 50%;
}

.width-75-per {
  width: 75%;
}

.width-25-per {
  width: 75%;
}

.height-100-per {
  height: 100%;
}

.banner-text-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.iconsButton img {
  padding-bottom: 10px;
  padding-top: 10px;
}

.mb-10 {
  margin-bottom: 15px;
}

.mt-10 {
  margin-top: 15px;
}

.pd-30 {
  padding: 30px;
}

.text-white {
  color: #ffffff;
}

.rotate-90-deg {
  transform: rotate(-90deg);
}

.img-container {
  display: flex;
  flex: 1;
}

.text-container {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text-width-215 {
  width: 215px;
}

.text-width-121 {
  width: 121px;
}

.font-17 {
  font-size: 17px;
  letter-spacing: 5px;
}

.sliderTwoTemple {
  height: 190px;
  width: 190px;
  min-width: 190px;
  min-height: 190px;
  background-color: #65471f;
  border-radius: 100%;
  margin: 20px;
  padding: 40px;
}

.flex {
  display: flex;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.banner-text-left-about-pd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 575px) {
  .banner-text-left-about-pd {
    align-items: center;
  }
}

/* CSS Spinner */

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.centerSpinnerModal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.centerSpinnerModal .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

/* mapBox Style */

.mapWrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 550px;
  width: 100%;
}

/* PreLoader Css */

.preloaderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preLoader-max-width {
  max-width: 320px;
}

.loader {
  margin-top: 32px;
  height: 5px;
  width: 240px;
  background-color: lightgray;
}

.loading {
  background: #966304;
  width: 80px;
  height: 5px;
  animation: anim 1.8s infinite;
}

@keyframes anim {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(160px);
  }
  100% {
    transform: translate(0px);
  }
}

/* Institute styles */

.inst-img-max-width {
  max-width: 121px;
  border-radius: 100%;
  border: 1px solid #966304;
}

.inst-admin-struct-header {
  color: #202020;
  text-align: left;
  font: normal normal bold 30px/35px Raleway;
  letter-spacing: 0px;
  margin-bottom: 56px;
}

.inst-academic-header {
  color: #5d5d5d;
  font: normal normal bold 50px/59px Raleway;
  margin-bottom: 40px;
  margin-top: 30px;
}

.inst-academic-container {
  margin-bottom: 32px;
}

.inst-admin-struct-main-text {
  color: #4e4e4e;
  text-align: left;
  font: normal normal bold 42px/49px Raleway;
  letter-spacing: 0px;
  margin-bottom: 56px;
}

.inst-admin-struct-sub-text {
  color: #202020;
  text-align: left;
  font: normal normal 600 24px/36px Raleway;
  letter-spacing: 0px;
  opacity: 1;
}

.inst-admin-struct-col-header {
  color: #202020;
  text-align: left;
  font: normal normal bold 24px/36px Raleway;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.inst-admin-struct-col-body {
  color: #616057;
  text-align: left;
  font: normal normal normal 20px/35px Raleway;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.inst-admin-struct-container {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .inst-academic-header {
    font: normal normal bold 24px/29px Raleway;
  }
  .inst-admin-struct-header {
    font: normal normal bold 22px/25px Raleway;
    margin-bottom: 40px;
  }

  .inst-admin-struct-main-text {
    font: normal normal bold 30px/38px Raleway;
    margin-bottom: 40px;
  }
  .inst-admin-struct-col-header {
    font: normal normal bold 20px/35px Raleway;
  }
  .inst-admin-struct-row {
    flex-direction: column;
  }

  .inst-admin-struct-sub-text {
    margin-bottom: 40px;
  }
}

/* End of Institute styles */

/* How to Support styles */

.how-to-support-focus {
  background-color: #faf4ed;
  padding-top: 78px;
  padding-bottom: 100px;
  margin-top: 120px;
}

.how-to-support-main-aspects {
  text-align: left;
  font: normal normal bold 30px/35px Raleway;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
}

.how-to-support-main-aspects-text {
  text-align: left;
  font: normal normal normal 20px/35px Raleway;
  letter-spacing: 0px;
  color: #616057;
  opacity: 1;
}

.how-to-support-how-to-donate-header {
  color: black;
  font: normal normal bold 50px/59px Raleway;
  margin-bottom: 40px;
}

.how-to-support-donate-sub-header {
  color: #5d5d5d;
  font: normal normal bold 30px/39px Raleway;
  margin-bottom: 40px;
}

.how-to-support-quote-container {
  text-align: center;
}

.how-to-support-quote {
  font: normal normal normal 41px/49px Raleway;
  letter-spacing: 0px;
  opacity: 0.73;
  color: #5d5d5d;
}

.how-to-support-account-info {
  font: normal normal normal 26px/38px Raleway;
  letter-spacing: 0px;
  color: #4f4437;
  opacity: 1;
}

/* End of How to Support styles */

/* News And Events styles */

.timeline-main-wrapper {
  margin-bottom: 20px;
}

.newsandevents-heading {
  text-align: left;
  font: normal normal bold 50px/59px Raleway;
  letter-spacing: 0px;
  color: #5d5d5d;
  opacity: 1;
  margin-bottom: 40px;
  margin-top: 40px;

}

.timeline-item-title {
  border-radius: 0.2rem;
  font-size: 1.9rem !important;
  font-weight: 600;
  overflow: hidden;
  padding: 0.25rem;
  visibility: visible;
}

.css-wdjp2-MediaDetailsWrapper {
  width: 100% !important;
  margin-left: 20px !important;
}

p.card-title {
  font-size: 30px !important;
  font-weight: 600;
  letter-spacing: 0px;
}

div.card-description > p {
  font-size: 20px !important;
  letter-spacing: 1px;
  text-align: justify;
}

.card-media-wrapper {
  width: 100%;
}

@media (max-width: 575px) {
  p.card-title {
    font-size: 18px !important;
    text-align: left;
  }
  div.card-description > p {
    letter-spacing: 1px;
    text-align: justify;
    font-size: 15px !important;
  }
  .css-wdjp2-MediaDetailsWrapper {
    width: 100% !important;
    margin-left: 10px !important;
  }
  .timeline-item-title {
    font-size: 1.3rem !important;
  }
  .newsandevents-heading {
    text-align: left;
    font: normal normal bold 20px/29px Raleway;
    letter-spacing: 0px;
    color: #5d5d5d;
    opacity: 1;
    margin-bottom: 20px;
  }
}

.newsandevents-news-item {
  display: flex;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.newsandevents-news-item-card-body {
  align-items: flex-start;
  width: 100%;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.newsandevents-news-item-category {
  color: #65471f;
}

.newsandevents-news-item-card-title {
  font-size: 30px !important;
  font-weight: 600;
}

.newsandevents-news-item-card-date {
  --bs-text-opacity: 1;
    color: #6c757d!important;
}

.newsandevents-news-item-card-description {
  font-size: 20px !important;
}
/* End of News and Events styles */
