.ourFocusMainArea{
    background: var(--unnamed-color-d3eaef) 0% 0% no-repeat padding-box;
background: #D3EAEF 0% 0% no-repeat padding-box;
/* opacity: 1; */
margin-bottom: 50px;
}
.subTitleOurFocus{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-42)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-4e4e4e);
    text-align: left;
    font: normal normal bold 42px/49px Raleway;
    letter-spacing: 0px;
    color: #4E4E4E;
    opacity: 1;
padding: 50px;

}
.mainTitleOurFocus{
    padding: 50px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-35) var(--unnamed-font-family-raleway);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-202020);
    text-align: left;
    font: normal normal bold 30px/35px Raleway;
    letter-spacing: 0px;
    color: #202020;
    opacity: 1;

}
.cardComponentOurFocus {
    /* width: 15rem; */
    border: 0px;
}

.cardBodyOurFocus {
    border-radius: 29px;
    /* min-width: auto; */
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    padding: 1.8125rem 3.75rem 2.875rem 2.3125rem;
    box-shadow: 0px 3px 14px #00000029;
    opacity: 1;
    height: 21.3125rem;
}

.cardImageOurFocus {
    /* width: 99px;
    height: 99px; */
    margin-bottom: 10px;
}

.cardTitleOurFocus {
    font-size: 1.6875rem;
    font-family: Raleway;
    font-weight: bold;
}

.cardTextOurFocus {
    font-family: Raleway;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.deckContainerOurFocus {
    margin-top: 100px;
}

.arrowContainerOurFocus {
    border: none;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    height: 2.5rem;
    width: 2.5rem;
    background: rgba(0, 0, 0, 29%);
}

.cardArrowOurFocus {
    position: relative;
    left: 25%;
    top: 15%;
}