.customCarouselWrapper {
  position: relative;
  background: #e6c49d 0% 0% no-repeat padding-box;
}

.customEllipse {
  position: absolute;
  bottom: 6%;
  left: -46%;
  width: 114%;
  height: 100vh;
  background: transparent url(/Ellipse-1.svg) 0% 0% no-repeat padding-box;
  opacity: 1.37;
  background-size: cover;
  background-position: bottom right;
}

@media (max-width: 1199px) {
}

@media (max-width: 1399px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .customEllipse {
    bottom: 50%;
    left: -2%;
    width: 100%;
  }
}

.bannerOneLeft {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

@media (max-width: 575px) {
  .bannerOneLeft {
    display: none;
  }
}

.bannerOneRight {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

@media (max-width: 575px) {
  .bannerOneRight {
    display: none;
  }
}

.bannerTextOne {
  font-size: 45px;
  color: #616057;
  letter-spacing: 0;
  font-family: "Playfair Display";
  margin-bottom: 30px;
  text-align: left;
}

.bannerTextTwo {
  font-size: 54px;
  color: #616057;
  letter-spacing: 0;
  line-height: 65px;
  margin-bottom: 39px;
  text-align: left;
}

@media (max-width: 575px) {
  .bannerTextOne {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

  .bannerTextTwo {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
}

.learnMoreButton {
  border: 2px solid #174b78;
  border-radius: 33px;
  font-size: 20px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  color: #174b78;
}

@media (max-width: 575px) {
  .learnMoreButton {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.iconsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 458px;
  max-width: 74px;
  width: 73px;
  height: 458px;
  background: #00000010 0% 0% no-repeat padding-box;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.carouwrap {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 30px;
}

.motoContainer {
  display: flex;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
}

@media (max-width: 575px) {
  .motoContainer {
    flex-direction: column;
    align-items: center;
  }
}

.iconsButton2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 458px;
  max-width: 74px;
  width: 73px;
  height: 458px;
  background: #00000010 0% 0% no-repeat padding-box;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.sliderTwoContainer {
  display: flex;
  min-height: 356px;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
  background: #966304 0% 0% no-repeat padding-box;
  border-radius: 48px;
  opacity: 0.85;
}

.sliderTwoText {
  text-align: center;
  font-size: 19px;
  font-family: "Raleway";
  font-weight: 400;
  color: #ffffff;
}

.sliderTwoInnerCont {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.outer {
  display: flex;
}

.outerTextThree {
  width: 154px;
}
