.customCarouselWrapper {
  position: relative;
  background: #e6c49d 0% 0% no-repeat padding-box;
}

.customEllipse {
  position: absolute;
  bottom: 6%;
  left: -46%;
  width: 114%;
  height: 100vh;
  background: transparent url(/Ellipse-1.svg) 0% 0% no-repeat padding-box;
  opacity: 1.37;
  background-size: cover;
  background-position: bottom right;
}

.bannerOneLeft {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.bannerOneRight {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.bannerTextOne {
  font-size: 75px;
  color: black;
  letter-spacing: 0;
  font-family: "Playfair Display";
  margin-bottom: 30px;
  text-align: center;
  align-self: center;
  opacity: 0.7;
  margin-top:22%;
}

.bannerTextTwo {
  font-size: 40px;
  color: #616057;
  letter-spacing: 0;
  line-height: 50px;
  margin-bottom: 39px;
  text-align: left;
  font-weight: 500;
}

.sliderLogoText{
  text-align: left;
}

.learnMoreButton {
  border: 2px solid #174b78;
  border-radius: 33px;
  font-size: 20px;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  color: #174b78;
}

.iconsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 458px;
  max-width: 74px;
  width: 73px;
  height: 458px;
  background: #00000010 0% 0% no-repeat padding-box;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.carouwrap {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 30px;
  justify-content: center;
}

.motoContainer {
  display: flex;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
}

.motoItem {
  flex-basis: 50%;
}

.motoImage {
  padding:0;
}

.iconsButton2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 458px;
  max-width: 74px;
  width: 73px;
  height: 458px;
  background: #00000010 0% 0% no-repeat padding-box;
  border-radius: 60px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.sliderTwoContainer {
  display: flex;
  min-height: 356px;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
  background: #966304 0% 0% no-repeat padding-box;
  border-radius: 48px;
  opacity: 0.85;
}

.sliderTwoText {
  text-align: center;
  font-size: 25px;
  font-family: "Raleway";
  font-weight: 400;
  color: #ffffff;
}

.sliderTwoTemple {
  height: 190px;
  width: 190px;
  min-width: 190px;
  min-height: 190px;
  background-color: #65471f;
  border-radius: 100%;
  margin: 20px;
  padding: 40px;
}

.sliderThreeContainer {
  display: flex;
  min-height: 356px;
  flex: 7;
  flex-direction: row-reverse;
  max-width: 1500px;
  background: #966304 0% 0% no-repeat padding-box;
  border-radius: 48px;
  opacity: 0.85;
}

.sliderThreeText {
  text-align: left;
  text-align: justify;
  font-size: 19px;
  font-family: "Raleway";
  font-weight: 400;
  color: #ffffff;
  padding:30px;
}

.sliderThreeTextLine {
  padding: 6px 0 6px 0;
}

.sliderTwoInnerCont {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.outer {
  display: flex;
}

.outerTextThree {
  width: 154px;
}

.sliderThreeLogo {
  height: 500px;
  width: 500px;
  min-height: 500px;
  border-radius: 100%;
  padding: 40px;
}

@media (max-width: 1399px) {
  .motoImage{
    padding-left:20px;
    padding-right: 20px;
  }

  .bannerTextOne{
    font-size: 50px;
    margin-top:10px;
    text-align: center;
    margin-top: 20%;
  }

  .bannerTextTwo{
    font-size: 30px;
    line-height: 40px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  .sliderThreeContainer {
    margin:30px;
  }

  .sliderThreeText {
    text-align: center;
    text-align: justify;
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .customEllipse {
    bottom: 30%;
    left: -30%;
    width: 100%;
  }

  .iconsButton2{
    width:70px;
    margin-right:5px; 
  }

 .motoImage{
    padding-left:20px;
    padding-right: 20px;
  }

  .bannerTextOne{
    font-size: 50px;
    margin-top:10px;
    text-align: center;
    margin-top: 20%;
  }

  .bannerTextTwo{
    font-size: 30px;
    line-height: 40px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  .sliderThreeContainer {
    margin:30px;
  }

  .sliderThreeText {
    text-align: center;
    text-align: justify;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .customEllipse {
    bottom: 50%;
    left: -30%;
    width: 100%;
  }

  .bannerOneLeft {
    display: none;
  }
  
  .bannerOneRight {
    display: none;
  }

  .motoImage{
    padding-left:10px;
    padding-right: 10px;
  }

  .bannerTextOne{
    font-size: 50px;
    padding-top:28%;
    text-align: center;
  }

  .bannerTextOne img{
    width:150px;
  }

  .bannerTextOne{
    font-size: 50px;
    margin-top:30px;
    text-align: center;
  }

  .bannerTextOne img{
    width:120px;
  }

  .bannerTextTwo{
    font-size: 23px;
    line-height: 40px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  .outer{
    flex-direction: column;
  }

  .sliderTwoText {
    font-size: 20px;
  }

  .outerTextThree{
    display: none;
  }

  .sliderTwoContainer{
    margin-left:20px;
    margin-right:20px;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .sliderTwoInnerCont {
    display: flex;
    flex-direction: column;
  }

  .sliderThreeContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sliderThreeText {
    text-align: center;
    text-align: justify;
    font-size: 15px;
    padding:0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .customEllipse {
    bottom: 75%;
    left: -25%;
    width: 100%;
  }

  .bannerOneLeft {
    display: none;
  }
  
  .bannerOneRight {
    display: none;
  }
  
  .motoContainer {
    flex-direction: column;
    align-items: center;
  }

  .motoImage{
    padding-left: 120px;
    padding-right: 120px;
  }

  .bannerTextOne{
    font-size: 50px;
    padding-top:0;
    margin-top:10px;
    text-align: center;
  }

  .bannerTextOne img{
    width:150px;
  }

  .bannerTextOne{
    font-size: 50px;
    margin-top:30px;
    text-align: center;
  }

  .bannerTextOne img{
    width:120px;
  }

  .bannerTextTwo{
    font-size: 23px;
    line-height: 40px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  .outer{
    flex-direction: column;
  }

  .sliderTwoText {
    font-size: 20px;
  }

  .outerTextThree{
    display: none;
  }

  .sliderTwoContainer{
    margin-left:20px;
    margin-right:20px;
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .sliderTwoInnerCont {
    display: flex;
    flex-direction: column;
  }

  .sliderThreeContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sliderThreeText {
    text-align: center;
    text-align: justify;
    font-size: 15px;
    padding:0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .customEllipse {
    bottom: 50%;
    left: -2%;
    width: 100%;
  }
  
  .bannerOneLeft {
    display: none;
  }
  
  .bannerOneRight {
    display: none;
  }

  .motoContainer {
    flex-direction: column;
    align-items: center;
  }

  .motoImage{
    padding-left: 40px;
    padding-right: 40px;
  }

  .bannerTextOne{
    font-size: 50px;
    padding-top:0;
    margin-top:10px;
    text-align: center;
  }

  .bannerTextOne img{
    width:150px;
  }

  .bannerTextTwo{
    font-size: 25px;
    line-height: 40px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  .learnMoreButton {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .outer{
    flex-direction: column;
  }

  .sliderTwoText {
    font-size: 20px;
  }

  .outerTextThree{
    display: none;
  }

  .sliderTwoContainer{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 190px;
    padding-bottom: 190px;
  }

  .sliderInnerCont {
    display: flex;
    flex-direction: column;
  }

  .sliderThreeContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sliderThreeText {
    text-align: center;
    text-align: justify;
    font-size: 15px;
    padding:0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px){
  .bannerTextOne img{
    width:100px;
  }

  .sliderTwoContainer{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 170px;
    padding-bottom: 170px;
  }
}